.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a3a49;
  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #1abc9c;
}

/* SIGN UP  */

.mb-4 {
  font-family: Smooch Sans;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 0%;
  line-height: 100%;
  color: #2b3a48;
}

.input-group .form-control {
  background-color: #f2f2f2;
  border-left: 0;
}

.input-group-text {
  background-color: #f2f2f2;
}

.input-group .input-group-text {
  background-color: #f2f2f2;
}

.btn {
  background-color: #4325ee !important;
  color: white !important;
}

/* SIGN IN  */

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signin-btn {
  width: 100%;

  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fefcfc;
  cursor: pointer;
}
.signin-btn img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.img-fluid {
  height: 450px !important;
}
